.bg-business{
    background-image: url('../../Images//business.png');
    background-size: cover;
}


/* Mobile Responsive */
@media screen and (max-width: 600px) {
    .mx-12{
        margin: 0px;
    }
    .business{
        display: none;
    }
}
